body {
	background-color: rgb(1, 115, 46);
}

#menu {

}

a {
	float: left;
	color: #f2f2f2;
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
	font-size: 17px;
}

a:hover {
	background-color: darkgreen;
}

#core {
	float: left;
	padding: 10px;
	text-align: center;
}

img {
	float: left;
	margin: 5px;
}

#OldPc {
	width: 20%;
}

#Poleasing {
	width: 80%;
}

#Gaming {
	width: 50%;
}

p.opis {
	text-align: justify;
}

#contact {
	float: left;
	margin: auto;
	width: 50%;
	padding: 10px;
}

ul {
	list-style-type: none;
}